* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 550px;
  width: 500px;
  overflow: hidden;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
img {
  display: block;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}
.container-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
}
